<p>
  <b>Name:</b>
  <%=h @team.name %>
</p>

<p>
  <b>Bio:</b>
  <%=h @team.bio %>
</p>

<p>
  <b>Players:</b>
  <ul>
    <% @team.players.each do |p| %>
    <li><%= link_to(p.name, player_path(p)) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>