<% page_title @team.name, 'Teams' %>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @team.bio %>
</p>

<p>
  <b>Players:</b>
  <ul>
    <% @team.players.each do |p| %>
    <li><%= link_to(p.name, team_player_path(@team, p)) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>