<% page_title @team.name, 'Teams' %>

<% content_for :meta do %>
  <meta property="og:title" content="<%= @team.name %>" />
  <meta property="og:type" content="sports_team" />
  <meta property="og:description" content="<%= @team.bio %>" />
<% end %>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Players:</b>
  <ul>
    <% @team.players.each do |p| %>
    <li><%= link_to(p.name, team_player_path(@team, p)) %></li>
    <% end %>
  </ul>
</p>

<fb:comments></fb:comments>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
