<% page_title @team.name, 'Teams' %>

<% content_for :meta do %>
  <meta property="og:title" content="<%= @team.name %>" />
  <meta property="og:type" content="sports_team" />
  <meta property="og:description" content="<%= @team.bio %>" />
<% end %>

<h1><%= @team.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @team.players.each do |p| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= link_to(p.name, team_player_path(@team, p)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<fb:comments></fb:comments>
