<% page_title "#{@rotation.name} (Editing)", 'Rotations' %>

<h1>Editing Rotation</h1>

<%= form_for(@rotation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :participation_value %><br />
    <%= f.text_field :participation_value %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rotation %> |
<%= link_to 'Back', rotations_path %>