<% page_title "#{@rotation.name} (Editing)", 'Rotations' %>

<h1>Editing Rotation</h1>

<%= form_for(@rotation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :participation_value %><br />
    <%= f.text_field :participation_value %>
  </p>
  
  <p>
    <%= f.label :fleets %><br />
    <ul>
      <% @fleets.each do |fleet| %>
      <li> <%= check_box_tag :'rotation[fleets][]', fleet.id, @rotation.fleets.include?(fleet.id.to_s), :id => "rotation_fleet_#{fleet.id}" %><%= link_to(fleet.color, fleet_path(f)) %></li>
      <% end %>
    </ul>
  </p>
  
  <p>
    <%= f.label :new_round %><br />
    <%= f.check_box :new_round %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rotation %> |
<%= link_to 'Back', rotations_path %>
