<% page_title 'Rotations' %>

<% content_for :meta do %>
  <meta property="og:title" content="Rotations" />
  <meta property="og:type" content="sport" />
  <meta property="og:description" content="All Rotations" />
<% end %>

<h1>Rotations</h1>

<table>
  <thead>
    <tr>
      <% @rotations.each do |rotation| %>
      <th><%= link_to(rotation.name, rotation_path(rotation)) %> (<%= link_to 'Edit', edit_rotation_path(rotation) %> | <%= link_to 'Destroy', rotation, :confirm => 'Are you sure?', :method => :delete %>)</th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @rotations.each do |rotation| %>
      <% rotation.entries.map(&:team).uniq.each do |team| %>
        <tr class="<%= cycle("odd", "") %>">
          <td><%= link_to(team.name, team_path(team)) %></td>
          <td><%= team_stats(rotation, team) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New rotation', new_rotation_path %>
