<% page_title 'New Rotation' %>

<h1>New Rotation</h1>

<%= form_for(@rotation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :participation_value %><br />
    <%= f.text_field :participation_value %>
  </p>
  
  <p>
    <%= f.label :teams %><br />
    <ul>
      <% @teams.each do |team| %>
      <li> <%= check_box_tag :'rotation[teams][]', team.id, @rotation.teams.include?(team.id.to_s), :id => "rotation_team_#{team.id}" %><%= link_to(team.name, team_path(team)) %></li>
      <% end %>
    </ul>
  </p>
  <p>
    <%= f.label :fleets %><br />
    <ul>
      <% @fleets.each do |fleet| %>
      <li> <%= check_box_tag :'rotation[fleets][]', fleet.id, @rotation.fleets.include?(fleet.id.to_s), :id => "rotation_fleet_#{fleet.id}" %><%= link_to(fleet.color, fleet_path(f)) %></li>
      <% end %>
    </ul>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rotations_path %>
