<h1>New rotation</h1>

<%= form_for(@rotation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :teams %><br />
    <ul>
      <% @teams.each do |team| %>
      <li> <%= check_box_tag :'rotation[teams][]', team.id, true, :id => "rotation_team_#{team.id}" %><%= link_to(team.name, team_path(team)) %></li>
      <% end %>
    </ul>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', rotations_path %>