<% page_title @rotation.name, 'Rotations' %>

<% content_for :meta do %>
  <meta property="og:title" content="<%= @rotation.name %>" />
  <meta property="og:type" content="sport" />
  <meta property="og:description" content="<%= @rotation.participants %>" />
<% end %>

<p>
  <b>Name:</b>
  <%= @rotation.name %> <fb:like layout="button_count" show_faces="false"></fb:like>
</p>

<table>
  <tr>
    <th>Race</th>
    <th>Teams</th>
  </tr>

<% @rotation.races.each do |race| %>
  <tr>
    <td><%= link_to(race.id, rotation_race_path(@rotation, race)) %></td>
    <td><%= link_to(race.home.team.name, team_path(race.home.team)) %> (<%= race.home.fleet.color %>) vs <%= link_to(race.away.team.name, team_path(race.away.team)) %> (<%= race.away.fleet.color %>)</td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_rotation_path(@rotation) %> |
<%= link_to 'Back', rotations_path %>