<% page_title @rotation.name, 'Rotations' %>

<% content_for :meta do %>
  <meta property="og:title" content="<%= @rotation.name %>" />
  <meta property="og:type" content="sport" />
  <meta property="og:description" content="<%= @rotation.participants %>" />
<% end %>

<h1><%= @rotation.name %></h1>

<div class="button"><fb:like layout="button_count" show_faces="false"></fb:like></div>
<div class="actions">
  <% if admin? %>
    <%= link_to 'Edit', edit_rotation_path(@rotation) %> |
  <% end %>
  <%= link_to 'Back', rotations_path %>
</div>

<h2><%= Time.now.to_s(:long) %></h2>

<table>
  <thead>
    <tr>
      <th>Race</th>
      <th>Teams</th>
    </tr>
  </thead>
  <tbody>
    <% @rotation.races.each do |race| %>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= link_to(race.id, rotation_race_path(@rotation, race)) %></td>
        <td><%= winner_or_loser(race, race.home) %> <%= link_to(race.home.team.name, team_path(race.home.team)) %> (<%= race.home.fleet.color %>) vs. <%= winner_or_loser(race, race.away) %> <%= link_to(race.away.team.name, team_path(race.away.team)) %> (<%= race.away.fleet.color %>)</td>
     </tr>
    <% end %>
  </tbody>
</table>
