<p>
  <b>Color:</b>
  <%= @fleet.color %>
</p>
<p>
  <b>Boats:</b>
  <ul>
    <%= @fleet.boats.each do |b| %>
    <li><%= link_to(b.bow, fleet_boat_path(@fleet, b)) %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_fleet_path(@fleet) %> |
<%= link_to 'Back', fleets_path %>