<h1>Editing race</h1>

<%= form_for([@rotation, @race]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', rotation_race_path(@rotation, @race) %> |
<%= link_to 'Back', rotation_races_path(@rotation) %>