<% page_title 'Finish', @race.name, 'Races' %>

<%= form_for(@race, :url => rotation_race_finish_path(@race.rotation, @race), :html => { :method => :put }) do |f| %>

<table>
  <tr>
    <th>Team</th>
    <th><%= link_to(@race.home.team.name, team_path(@race.home.team)) %></th>
    <th><%= link_to(@race.away.team.name, team_path(@race.away.team)) %></th>
  </tr>
  <tr>
    <td>Fleet</td>
    <td><%= @race.home.fleet.color %> (<%= @race.home.fleet.boats.map(&:bow).join(', ') %>)</td>
    <td><%= @race.away.fleet.color %> (<%= @race.away.fleet.boats.map(&:bow).join(', ') %>)</td>
  </tr>
  <tr>
    <td>Penalties</td>
    <td><%= f.text_field :home_penalty %></td>
    <td><%= f.text_field :away_penalty %></td>
  </tr>
  <tr>
    <td>Postions</td>
    <td colspan="2">
      <ol>
        <%= field_for :finishes do |finish_form| %>
          <li><%= finish_form.text_field :position %></li>
        <% end %>
      </ol>
    </td>
  </tr>
  <tr>
    <td>Total</td>
    <td><%= @race.home_total %></td>
    <td><%= @race.away_total %></td>
  </tr>
</table>

<p>
  <%= f.submit 'Record Finishes' %>
</p>

<% end %>

<%= link_to 'Edit', edit_rotation_race_path(@race.rotation, @race) %> |
<%= link_to 'Back', rotation_races_path(@race.rotation) %>