<% page_title 'Players' %>

<% content_for :meta do %>
  <meta property="og:title" content="Players" />
  <meta property="og:type" content="athlete" />
  <meta property="og:description" content="All Players" />
<% end %>

<h1>Listing Players</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>Team</th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.name %></td>
    <td><%= player.bio %></td>
    <td><%= link_to(@team.name, team_path(@team)) %></td>
    <td><%= link_to 'Show', team_player_path(@team, player) %></td>
    <td><%= link_to 'Edit', edit_team_player_path(@team, player) %></td>
    <td><%= link_to 'Destroy', team_player_path(@team, player), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>