<% page_title @player.name, 'Players' %>

<% content_for :meta do %>
  <meta property="og:title" content="<%= @player.name %>" />
  <meta property="og:type" content="athlete" />
  <meta property="og:description" content="<%= @player.bio %>" />
<% end %>

<h1><%= @player.name %> <fb:like layout="button_count" show_faces="false"></fb:like></h1>

<p>
  <b>Bio:</b>
  <%= @player.bio %>
</p>

<p>
  <b>Team:</b>
  <%= link_to(@team.name, team_path(@team)) %>
</p>
