<p>
  <b>Name:</b>
  <%=h @player.name %>
</p>

<p>
  <b>Bio:</b>
  <%=h @player.bio %>
</p>

<p>
  <b>Team:</b>
  <%= link_to(@team.name, team_path(@team)) %>
</p>


<%= link_to 'Edit', edit_team_player_path(@team, @player) %> |
<%= link_to 'Back', team_players_path(@team) %>