<% page_title @player.name, 'Players' %>

<% content_for :meta do %>
  <meta property="og:title" content="<%= @player.name %>" />
  <meta property="og:type" content="athlete" />
  <meta property="og:description" content="<%= @player.bio %>" />
<% end %>

<h1><%= @player.name %></h1>
<div class="button"><fb:like layout="button_count" show_faces="false"></fb:like></div>
<h2>of <%= @player.bio %></h2>

<h3>Representing <%= link_to(@team.name, team_path(@team)) %></h3>
