<h1>New boat</h1>

<% form_for([@fleet, @boat]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :bow %><br />
    <%= f.text_field :bow %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', fleet_boats_path(@fleet) %>