<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'reset-fonts-grids', 'base' %>
  <%= csrf_meta_tag %>
  <meta property="fb:app_id" content="<%= Facebooker2.app_id %>" />
  <meta property="og:site_name" content="US Team Racing Championship" />
  <meta property="og:image" content="http://usteamracing.com/images/HinmanLogoRevised.gif" />
  <%= yield :meta %>
</head>
<body>
  
  <div id="doc3" class="yui-t6">
    <div id="hd">
      <% if current_facebook_user %>
        Welcome <%= current_user.name %>.
        <%= fb_logout_link('Logout', request.path) %>
      <% else %>
        <fb:login-button></fb:login-button>
      <% end %>
    </div>
    <div id="bd">
      <div id="yui-main">
        <ul>
          <li><%= link_to('Rotations', rotations_path) %></li>
          <li><%= link_to('Teams', teams_path) %></li>
        </ul>
        <div class="yui-b">
          <p style="color: blue"><%= flash[:info] %></p>
          <p style="color: red"><%= flash[:error] %></p>
          <p style="color: green"><%= flash[:notice] %></p>

          <%= yield %>
        </div>
      </div>
      <div class="yui-b">
        <% if current_facebook_user %>
          <fb:live-stream width="300"></fb:live-stream>
        <% else %>
          <fb:login-button show-faces="true" width="300" max-rows="4"></fb:login-button>
        <% end %>
      </div>
    </div>
    <div id="ft">
      2010 US Team Racing Championship
    </div>
  </div>
  
  <%= render(:partial => 'shared/javascript') %>
</body>
</html>