<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="banner">
  <% if current_facebook_user %>
    Welcome <%= current_user.name %>!
    <%= fb_logout_link('Logout', request.path) %>
  <% else %>
    <%= fb_login({}) { "window.location.href = '#{request.path}'" } %>
  <% end %>
  </div>
  
  <ul>
    <li><%= link_to('Rotations', rotations_path) %></li>
    <li><%= link_to('Teams', teams_path) %></li>
  </ul>
  <p style="color: green"><%= flash[:notice] %></p>

  <%= yield %>

  <%= render(:partial => 'shared/javascript') %>
</body>
</html>