<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'reset', 'globals', :media => 'all' %>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <%= csrf_meta_tag %>
  <% if params[:refresh] %>
    <meta http-equiv="refresh" content="120">
  <% end %>
  <meta property="fb:app_id" content="<%= Facebooker2.app_id %>" />
  <meta property="og:site_name" content="US Team Racing Championship" />
  <meta property="og:image" content="http://usteamracing.com/images/HinmanLogoRevised.gif" />
  <%= yield :meta %>
  <!--[if IE]><%= javascript_include_tag 'html5' %><![endif]-->
</head>
<body class="<%= controller_name %>">

  <nav>
    <ul>
      <li><%= link_to('Rankings & Rotations', rotations_path) %></li>
      <li><%= link_to('Teams', teams_path) %></li>
    </ul>
  </nav>

  <section>
    <p style="color: blue"><%= flash[:info] %></p>
    <p style="color: red"><%= flash[:error] %></p>
    <p style="color: green"><%= flash[:notice] %></p>

    <article>
      <%= yield %>
    </article>

    <aside>
      <div class="interior">
        <% if current_user %>
          <fb:live-stream width="400" height="640"></fb:live-stream>
        <% else %>
          <fb:login-button>Login with Facebook</fb:login-button>
        <% end %>
      </div>
    </aside>
  </section>

  <footer><p>&copy; 2011 US Team Racing Championship</p></footer>

  <%= render(:partial => 'shared/javascript') %>

</body>
</html>
