<!DOCTYPE html>
<html>
<head>
  <title><%= [yield(:title), 'US Team Racing Championship'].compact.join(' - ') %></title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

<%= render(:partial => 'shared/javascript') %>
</body>
</html>
