<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= csrf_meta_tag %>
</head>
<body>
<ul>
  <li><%= link_to('Rotations', rotations_path) %></li>
  <li><%= link_to('Teams', teams_path) %></li>
</ul>
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

<%= render(:partial => 'shared/javascript') %>
</body>
</html>
