<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'reset', 'styles' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <%= csrf_meta_tag %>
  <meta property="fb:app_id" content="<%= Facebooker2.app_id %>" />
  <meta property="og:site_name" content="US Team Racing Championship" />
  <meta property="og:image" content="http://usteamracing.com/images/HinmanLogoRevised.gif" />
  <%= yield :meta %>
  <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="<%= controller_name %>">

  <nav>
    <ul>
      <li><%= link_to('Rankings & Rotations', rotations_path) %></li>
      <li><%= link_to('Teams', teams_path) %></li>
    </ul>
  </nav>

  <section>
    <p style="color: blue"><%= flash[:info] %></p>
    <p style="color: red"><%= flash[:error] %></p>
    <p style="color: green"><%= flash[:notice] %></p>

    <article>
      <%= yield %>
    </article>

    <aside>
      <div class="interior">
        <% if current_facebook_user %>
          <fb:live-stream width="400" heigh="500"></fb:live-stream>
        <% else %>
          <fb:login-button show-faces="true" width="400" max-rows="4"></fb:login-button>
        <% end %>
      </div>
    </aside>
  </section>

  <footer><p>&copy; 2010 US Team Racing Championship</p></footer>

  <%= render(:partial => 'shared/javascript') %>

</body>
</html>
